/***************************** CUSTOM CSS STYLES ****************************************
-> all custom class begin with customcss--
-> areas with custom css:
   languages modal in header 


*************************************************************************************/

/* LANGUAGES MODAL */
.customcss--languages-modal {
    background: rgba(255,255,255,0.8);
    padding-bottom:2em
}
.customcss--languages-modal span {
    color: black;
}
.customcss--languages-modal form label:nth-child(2) {
  position: relative;
  left: 2em;
}
